<div class="row">
  <div class="col-lg-4">
    <div class="list-group">
      <a (click)="aplicarSonido(1)" href="#" class="list-group-item list-group-item-action" style="background-color: red;"></a>
      <a (click)="aplicarSonido(2)" href="#" class="list-group-item list-group-item-action" style="background-color: orange;" ></a>
      <a (click)="aplicarSonido(3)" href="#" class="list-group-item list-group-item-action" style="background-color: yellow;" ></a>
      <a (click)="aplicarSonido(4)" href="#" class="list-group-item list-group-item-action" style="background-color: green;" ></a>
      <a (click)="aplicarSonido(5)" href="#" class="list-group-item list-group-item-action" style="background-color: teal;"></a>
      <a (click)="aplicarSonido(6)" href="#" class="list-group-item list-group-item-action" style="background-color: blue;"></a>
      <a (click)="aplicarSonido(7)" href="#" class="list-group-item list-group-item-action" style="background-color: purple;"></a>
    </div>
  </div>
</div>
<!-- <audio controls>
  <source src="../assets/sonidos/note1.wav" >
  <source src="../assets/sonidos/note2.wav" >
</audio> -->